<ng-container *ngIf="serie.status.cargarTiempos; else infoMessage">
  <app-series-header
    [titulo]="'Resultados'"
    [serie]="serie"
    (emitGuardar)="onSave()"
    (emitCancelar)="goBack()"
  > </app-series-header>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th> Número </th>
        <th> Carril </th>
        <th> Palista </th>
        <th> Club </th>
        <th> Tiempo </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let registro of tabla; let i=index">
        <td width="15%"> {{ registro.numero }} </td>
        <td width="15%"> {{ registro.carril }} </td>
        <td> {{ registro.palista }} </td>
        <td> {{ registro.club }} </td>
        <td> {{ registro.tiempo}} </td>
      </tr>
    </tbody>

  </table>
</ng-container>

<ng-template #infoMessage>
  <div class="jumbotron">
    <h1 class="display-4">Generar Resultados</h1>
    <p class="lead">
      No puede generar los resultados de la serie <strong>{{ serie.id }}</strong> porque aún no ha cargado el tiempo de los participantes
    </p>
    <hr class="my-4">

    <div class="text-center">
      <button class="btn btn-lg btn-primary" (click)="goBack()">
        Regresar <i class="fa fa-arrow-circle-left fa-2x"></i>
      </button>
    </div>

  </div>
</ng-template>