<div class="row mt-5">
  <div class="col-6 mx-auto">

    <div class="jumbotron p-5">
      <h1 class="display-6">Limpiar Local Storage!</h1>
      <p class="lead">Este proceso elimina todos los datos del módulo de competencias de Local Storage.
        Esto puede ser útil para inicializar pruebas, o para correr una nueva instalación del módulo.
      </p>
      <hr class="my-4">
      <p>
        Se debe ser muy cuidadoso con su uso porque podría llevar a la perdida definitiva de datos.
      </p>
      <div class="row">
        <div class="col-10 mx-auto">
          <button class="btn btn btn-lg btn-block btn-warning" (click)="onSubmit()">
            <i class="fa fa-trash fa-2x"></i> Limpiar
          </button>
        </div>
      </div>
    </div>

  </div>
</div>