<div class="card mt-3">
  <div class="card-header d-flex">
    Palistas
    <a routerLink="/palistas/add" class="text-primary ml-auto">
      <i class="fa fa-plus-circle fa-2x"></i>
    </a>
  </div>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th> DNI </th>
      <th> Nombre </th>
      <th> F. Nacimiento </th>
      <th> Genero </th>
      <th> Categoría </th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let registro of tabla">
      <td routerLink="/palistas/edit/{{registro.id}}"> {{ registro.dni }} </td>
      <td routerLink="/palistas/edit/{{registro.id}}"> {{ registro.palista }} </td>
      <td routerLink="/palistas/edit/{{registro.id}}"> {{ utilService.showDate(registro.fnacimiento) }} </td>
      <td routerLink="/palistas/edit/{{registro.id}}"> {{ registro.genero }} </td>
      <td routerLink="/palistas/edit/{{registro.id}}"> {{ registro.categoria }} </td>
      <td class="text-center">
        <a routerLink="/palistas/delete/{{registro.id}}" class="text-danger">
          <i class="fa fa-minus-circle fa-2x"></i>
        </a>
      </td>
    </tr>
  </tbody>

</table>