<nav class="navbar navbar-expand-lg navbar-dark bg-success" *ngIf="! (!!usuario && !!usuario.rol)">
  <img class="mr-4" src="assets/img/icono.png" />
  <a class="navbar-brand" href="#" *ngIf="! (!!usuario)">
    <h4> <strong>FeBoCaK</strong> - {{ usuario.rol }}</h4>
    <h6> {{ usuario.rol == 'Inscripciones' ? usuario.club : 'Federación Bonairense de Canoas y Kayaks' }} </h6>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" >
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"> <strong>Home</strong> </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"> <strong>Ingresar</strong> </a>
      </li>
      
    </ul>

    
  </div>
</nav>

<ng-container  *ngIf="!!usuario && !!usuario.rol">
  <ng-container *ngIf="usuario.rol === 'Administración'">
    <app-navbar-administracion 
      [usuario]="usuario" (emitLogout)="onLogout()">
    </app-navbar-administracion>
  </ng-container>
  <ng-container *ngIf="usuario.rol === 'Competencias'">
    <app-navbar-competencias 
      [usuario]="usuario" (emitLogout)="onLogout()">
    </app-navbar-competencias>
  </ng-container>
  <ng-container *ngIf="usuario.rol === 'Inscripciones'">
    <app-navbar-inscripciones 
      [usuario]="usuario" (emitLogout)="onLogout()">
    </app-navbar-inscripciones>
  </ng-container>
</ng-container>