<div [hidden]="frmStatus === 'Consultar'" class="card mt-3">
  <div class="card-header">
    {{ frmStatus + " registro" }}
  </div>

  <div class="card-body">
    <form #miForm="ngForm" (ngSubmit)="aceptar(miForm)" class="form-horizontal mt-3">

      <div class="row">
        <div class="col col-6">
          <div class="form-group">
            <label for="nombre" class="control-label"> Nombre </label>
            <input required maxlength="30" minlength="2" [class.is-invalid]="nombre.invalid && nombre.touched"
              [readonly]="frmStatus==='Eliminar'" #nombre="ngModel" [(ngModel)]="registro.nombre" type="text" name="nombre"
              class="form-control" />
            <small class="text-danger" [class.d-none]="nombre.untouched || !nombre.hasError('required')">El nombre es requerido</small>
            <small class="text-danger" [class.d-none]="nombre.untouched || !nombre.hasError('minlength')">La longitud mínima es 2</small>
          </div> 
        </div>

        <div class="col col-6">
          <div class="form-group">
            <label for="apellido" class="control-label"> Apellido </label>
            <input required maxlength="30" minlength="2" [class.is-invalid]="apellido.invalid && apellido.touched"
              [readonly]="frmStatus==='Eliminar'" #apellido="ngModel" [(ngModel)]="registro.apellido" type="text" name="apellido"
              class="form-control" />
            <small class="text-danger" [class.d-none]="apellido.untouched || !apellido.hasError('required')">El apellido es requerido</small>
            <small class="text-danger" [class.d-none]="apellido.untouched || !apellido.hasError('minlength')">La longitud mínima es 2</small>
          </div> 
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="DNI" class="control-label"> DNI </label>
            <input required minlength="8" maxlength="12" [class.is-invalid]="dni.invalid && dni.touched"
              [readonly]="frmStatus==='Eliminar'" #dni="ngModel" [(ngModel)]="registro.dni" type="text" name="dni"
              class="form-control" />
            <small class="text-danger" [class.d-none]="dni.untouched || !dni.hasError('required')">El DNI es requerido</small>
            <small class="text-danger" [class.d-none]="dni.untouched || !dni.hasError('minlength')">La longitud mínima es 8</small>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="genero" class="control-label"> Genero </label>
            <select class="custom-select" [class.is-invalid]="genero.invalid && genero.touched"
              (change)="buscarCategoria(fnacimiento.value, genero.value)"
              required [disabled]="frmStatus==='Eliminar'" 
              name="genero" #genero="ngModel" [(ngModel)]="registro.genero"> 
              <option value="registro.genero"></option>
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
            <small class="text-danger" [class.d-none]="genero.valid || genero.untouched">El genero es requerido</small>
          </div>
        </div>

      </div>
        
      <div class="row"> 
        <div class="col-6">
          <div class="form-group">
            <label for="fnacimiento" class="control-label"> F.  nacimiento </label>
            <input required [class.is-invalid]="fnacimiento.invalid && fnacimiento.touched"
              [readonly]="frmStatus==='Eliminar'" #fnacimiento="ngModel" [(ngModel)]="registro.fnacimiento" type="date" name="fnacimiento"
              class="form-control" (change)="buscarCategoria(fnacimiento.value, genero.value)"/>
            <small class="text-danger" [class.d-none]="fnacimiento.valid || fnacimiento.untouched">La fecha de nacimiento es requerida</small>
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="categoria" class="control-label"> Categoría </label>
            <input required [class.is-invalid]="(categoria.invalid && fnacimiento.touched)  || registro.categoria == 'No se encontró' "
              [readonly]="true" #categoria="ngModel" [(ngModel)]="registro.categoria" type="text" name="categoria"
              class="form-control" />
            <small class="text-danger" [class.d-none]="categoria.valid || fnacimiento.untouched">La categoría es requerida</small>
          </div>
        </div>
      </div>

      <div class="form-group d-none">
        <label for="club" class="control-label"> Club </label>
        <input required maxlength="40" minlength="8" [class.is-invalid]="club.invalid && club.touched "
          [readonly]="frmStatus==='Eliminar'" #club="ngModel" [(ngModel)]="registro.club" type="text" name="club"
          class="form-control" />
        <small class="text-danger" [class.d-none]="club.untouched || !club.hasError('required')">El club es requerido</small>
        <small class="text-danger" [class.d-none]="club.untouched || !club.hasError('minlength')">La longitud mínima es 8</small>
      </div>

      <div class="row">
        <div class="col-6">
          <button [disabled]="miForm.form.invalid || registro.categoria == 'No se encontró'" type="submit" class="btn btn-primary btn-block">
            Aceptar
          </button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-secondary btn-block" (click)="cancelar(miForm)">
            Cancelar
          </button>
        </div>
      </div>

    </form>
  </div>
</div>