<div class="row mt-5">
    <div class="col-6 mx-auto">
  
      <div class="jumbotron p-5">
        <h1 class="display-6">Configurar el sistema!</h1>
        <p class="lead">El sistema detectó que aún no ha realizado la importacion de los datos 
          de las inscripciones.
        </p>
        <hr class="my-4">
        <p>
          Será redireccionado a la opción para importar las inscripciones.
        </p>
        <div class="row">
          <div class="col-10 mx-auto">
            <button class="btn btn btn-lg btn-block btn-success" (click)="onSubmit()">
              <i class="fa fa-angle-double-right fa-2x"></i> Continuar
            </button>
          </div>
        </div>
      </div>
  
    </div>
  </div>