<div class="card mt-3">
  <div class="card-header d-flex">
    Resultados
  </div>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th> Genero </th>
      <th> Categoría </th>
      <th> Distancia </th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let registro of tabla">
      <td routerLink="/resultados/detalle/{{registro.id}}"> {{ registro.genero }} </td>
      <td routerLink="/resultados/detalle/{{registro.id}}"> {{ registro.categoria }} </td>
      <td routerLink="/resultados/detalle/{{registro.id}}"> {{ registro.distancia }} </td>
      <td class="text-center">
        <a routerLink="/resultados/delete/{{registro.id}}" class="text-success">
          <i class="fa fa-signal fa-2x"></i>
        </a>
      </td>
    </tr>
  </tbody>

</table>