<ng-container *ngIf="!serie.status.cargarTiempos; else infoMessage">
  <app-series-header
    [titulo]="'Asignar números'"
    [serie]="serie"
    (emitGuardar)="onSave()"
    (emitCancelar)="goBack()"
  > </app-series-header>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th> Número </th>
        <th> Palista </th>
        <th> Club </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let registro of tabla; let i=index">
        <td width="15%"> 
          <input type="tel" class="form-control" maxlength=2 [(ngModel)]="registro.numero"> 
        </td>
        <td> {{ registro.palista }} </td>
        <td> {{ registro.club }} </td>
        
      </tr>
    </tbody>

  </table>
</ng-container>

<ng-template #infoMessage>
    <div class="jumbotron">
      <h1 class="display-4">Asignar números</h1>
      <p class="lead">
        No puede reasignar los números  a los participantes de la serie <strong>{{ serie.id }}</strong> porque ya cargó los tiempos a los participantes
      </p>
      <hr class="my-4">
  
      <div class="text-center">
        <button class="btn btn-lg btn-primary" (click)="goBack()">
            Regresar <i class="fa fa-arrow-circle-left fa-2x"></i>
        </button>
      </div>
  
    </div>
  </ng-template>