<div class="card mt-3">
  <div class="card-header">
    <div class="row">

      <div class="col-2">
        <h5>{{ titulo }}</h5>
      </div>
      <div class="col-7">
        <table width="100%">
          <tr>
            <th width="10%">Serie</th>
            <th width="40%">Categoría</th>
            <th width="25%">Genero</th>
            <th width="25%">Distancia</th>
          </tr>

          <tr>
            <td>{{ serie.id }}</td>
            <td>{{ serie.categoria }}</td>
            <td>{{ serie.genero }}</td>
            <td>{{ serie.distancia }}</td>
          </tr>
        </table>

      </div>

      <div class="col-3">
        <div class="row">
          <div class="col-6">
            <button class="btn btn-block btn-primary" (click)="onSave()">
              <i class="fa fa-save "></i> Guardar
            </button>
          </div>
          <div class="col-6">
            <button class="btn btn-block btn-secondary" (click)="goBack()">
              <i class="fa fa-undo "></i> Cancelar
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>