<div [hidden]="frmStatus === 'Consultar'" class="card mt-3">
  <div class="card-header">
    {{ frmStatus + " registro" }}
  </div>

  <div class="card-body">
    <form #miForm="ngForm" (ngSubmit)="aceptar(miForm)" class="form-horizontal mt-3">

      <div class="form-group">
        <label for="palista" class="control-label">
          Nombre
        </label>
        <select class="custom-select" id="palista"
          name="palista" #palista="ngModel" [(ngModel)]="registro.palista"  [disabled]="frmStatus==='Eliminar'"
          (change)="selectPalista(palista.value)" >
          <option value=""></option>
          <option *ngFor="let palista of palistas" >{{ palista.palista }}</option>
        </select>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="genero" class="control-label"> Genero </label>
            <input [readonly]="true" [(ngModel)]="registro.genero" type="text" name="genero"
              class="form-control" />
          </div>
        </div>

        <div class="col-6">
          <div class="form-group">
            <label for="categoria" class="control-label"> Categoría </label>
            <input [readonly]="true" #categoria="ngModel" [(ngModel)]="registro.categoria" type="text" name="categoria"
              class="form-control" />
          </div>
        </div>
      </div>

      
      <div class="card mb-3" >
        <div class="card-body">
          <h5 class="card-title">Carreras</h5>
            <div class="row">
                <div class="col col-2 text-center">
                  K1
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k1_1000" id="k1_1000"
                    [(ngModel)]="registro.k1_1000" (change)="onChangeCB()">
                  <label class="custom-control-label" for="k1_1000">1000</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k1_2000" id="k1_2000"  
                    [(ngModel)]="registro.k1_2000" (change)="onChangeCB()">
                  <label class="custom-control-label" for="k1_2000">2000</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k1_4000" id="k1_4000"
                    [(ngModel)]="registro.k1_4000" >
                  <label class="custom-control-label" for="k1_4000">4 km</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k1_12000"id="k1_12000"
                    [(ngModel)]="registro.k1_12000" >
                  <label class="custom-control-label" for="k1_12000">12 Km</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k1_16000"id="k1_16000"
                    [(ngModel)]="registro.k1_16000">
                  <label class="custom-control-label" for="k1_16000">16 Km</label>
                </div>
            </div>

            <div class="row">
                <div class="col col-2 text-center">
                  K2
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k2_1000" id="k2_1000"
                    [(ngModel)]="registro.k2_1000" (change)="onChangeCB()">
                  <label class="custom-control-label" for="k2_1000">1000</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k2_2000" id="k2_2000"  
                    [(ngModel)]="registro.k2_2000" (change)="onChangeCB()">
                  <label class="custom-control-label" for="k2_2000">2000</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k2_4000" id="k2_4000"
                    [(ngModel)]="registro.k2_4000" >
                  <label class="custom-control-label" for="k2_4000">4 km</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k2_12000"id="k2_12000"
                    [(ngModel)]="registro.k2_12000" >
                  <label class="custom-control-label" for="k2_12000">12 Km</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k2_16000"id="k2_16000"
                    [(ngModel)]="registro.k2_16000" >
                  <label class="custom-control-label" for="k2_16000">16 Km</label>
                </div>
            </div>

            <div class="row">
                <div class="col col-2 text-center">
                  430
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k4_1000" id="k4_1000"
                    [(ngModel)]="registro.k4_1000" (change)="onChangeCB()">
                  <label class="custom-control-label" for="k4_1000">1000</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k4_2000" id="k4_2000"  
                    [(ngModel)]="registro.k4_2000" (change)="onChangeCB()">
                  <label class="custom-control-label" for="k4_2000">2000</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k4_4000" id="k4_4000"
                    [(ngModel)]="registro.k4_4000" >
                  <label class="custom-control-label" for="k4_4000">4 km</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k4_12000"id="k4_12000"
                    [(ngModel)]="registro.k4_12000" >
                  <label class="custom-control-label" for="k4_12000">12 Km</label>
                </div>
                <div class="col col-2 custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="k4_16000"id="k4_16000"
                    [(ngModel)]="registro.k4_16000" >
                  <label class="custom-control-label" for="k4_16000">16 Km</label>
                </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-6">
          <button [disabled]="miForm.form.invalid || registro.categoria == 'No se encontró'" type="submit" class="btn btn-primary btn-block">
            Aceptar
          </button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-secondary btn-block" (click)="cancelar(miForm)">
            Cancelar
          </button>
        </div>
      </div>

    </form>
  </div>
</div>