<div class="row mt-3">
  <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <strong> Usuario: </strong> {{ user.email }}
      </div>
      <div class="card-body">
        
        <form #FormLogin (submit)="onSubmit()">
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <label for="name" class="col-form-label">Nombre:</label>
                <input [(ngModel)]="user.name" type="text" name="name"
                class="form-control" placeholder="Nombre" aria-label="Nombre">
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <img [src]="user.photoUrl" class="rounded-circle img-thumbnail" alt="profile">
              </div>
            </div>
          </div>
            
          <div class="form-group">
            <label for="club" class="col-form-label">club:</label>
            <select class="custom-select"
              name="club" [(ngModel)]="user.club" #club="ngModel" (change)="updatePhotoUrl(club.value)"> 
              <option value="user.club"></option>
              <option *ngFor="let record of clubArray" >{{ record.nombre }}</option>
            </select>
          </div>            
            
          <div class="form-group">
            <button  type="submit" class="btn btn-primary btn-block">
              <span><i class="fa fa-check"></i></span> Aceptar </button>
          </div>
              
        </form>

      </div>
    </div>
  </div>
</div>
