<div class="row mt-3" *ngIf="usuario$ | async as usuario; else loading">
  <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
    <div class="card">
      <div class="card-header">
        <strong> Usuario: </strong> {{ usuario.email }}
      </div>
      <div class="card-body">
        
        <form #FormLogin (submit)="onSubmit()">
          <div class="row">
            <div class="col-10">
              <div class="form-group">
                <label class="col-form-label">Nombre:</label>
                <div class="form-group border border-light p-1">
                  {{ usuario.name }}
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <img src="assets/img/imgIcono.png" #clubImage class="rounded img-thumbnail" alt="profile">
              </div>
            </div>
          </div>
            
          <div class="form-group">
            <label for="club" class="col-form-label">Club:</label>
            <div class="form-group  border border-light p-1">
              {{ usuario.club }}
            </div>
          </div>            
            
          <div class="form-group">
            <button  type="submit" class="btn btn-primary btn-block">
              <span><i class="fa fa-check"></i></span> Aceptar </button>
          </div>
              
        </form>

      </div>
    </div>
  </div>
</div>

<ng-template #loading>Loading Data...</ng-template>