<div class="card mt-3">
    <div class="card-header d-flex">
      Distancias
      <a routerLink="/distancias/{{idCompetencia}}/add" class="text-primary ml-auto">
        <i class="fa fa-plus-circle fa-2x"></i>
      </a>
    </div>
  </div>
  
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th> Categoría </th>
        <th> Embarcación </th>
        <th> Distancia </th>
        <th> </th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let registro of tabla; let i = index">
        <td routerLink="/distancias/{{idCompetencia}}/edit/{{i}}"> {{ registro.categoria }} </td>
        <td routerLink="/distancias/{{idCompetencia}}/edit/{{i}}"> {{ registro.embarcacion }} </td>
        <td routerLink="/distancias/{{idCompetencia}}/edit/{{i}}"> {{ registro.distancia }} </td>
        <td class="text-center">
          <a routerLink="/distancias/{{idCompetencia}}/delete/{{i}}" class="text-danger">
            <i class="fa fa-minus-circle fa-2x"></i>
          </a>
        </td>
      </tr>
    </tbody>
  
  </table>