.spinner {
    position: fixed;
    z-index: 1031;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Cambiar el color de fondo a los item de menú */
.dropdown-item:hover {
  background-color: rgba(50, 115, 220, 0.3);
}

.swal-modal {
 position: absolute;
 top: 5%;
 right: 5%;
}