<h2 class="mat-h2">Generar finales</h2>
<form [formGroup]="miForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="genero" class="control-label"> Genero </label>
    <select formControlName="genero" [class.is-invalid]="genero.invalid && genero.touched" class="custom-select">
      <option value=""></option>
      <option value="Masculino">Masculino</option>
      <option value="Femenino">Femenino</option>
    </select>
    <small class="text-danger" [class.d-none]="genero.valid || genero.untouched">El genero es requerido</small>
  </div>

  <div class="form-group">
    <label for="categoria" class="control-label"> Categoría </label>
    <select formControlName="categoria" [class.is-invalid]="(categoria.invalid && categoria.touched)"
      class="custom-select">
      <option value=""></option>
      <option *ngFor="let registro of tblCategorias">{{ registro.categoria }}</option>
    </select>
    <small class="text-danger" [class.d-none]="categoria.valid || categoria.untouched">La categoría es
      requerida</small>
  </div>

  <div class="form-group">
    <label for="distancia" class="control-label"> Distancia </label>
    <select formControlName="distancia" [class.is-invalid]="distancia.invalid && distancia.touched"
      class="custom-select">
      <option value=""></option>
      <option *ngFor="let registro of tblDistancias">{{ registro.embarcacion + ' ' + registro.distancia }}</option>
    </select>
    <small class="text-danger" [class.d-none]="distancia.untouched || !distancia.hasError('required')">La distancia
      es requerida</small>
  </div>


  <button [disabled]="!miForm.valid" type="submit" class="btn btn-block btn-primary">
    Filtrar
  </button>

  <button type="button" class="btn btn-secondary btn-block" (click)="limpiar()">
    Limpiar
  </button>

  <button type="button" class="btn btn-success btn-block mt-5" (click)="guardar()">
    Guardar
  </button>
  <button type="button" class="btn btn-secondary btn-block" (click)="salir()">
    Salir
  </button>

</form>