<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
  
      <div class="card mt-3">
        <div class="card-header" [ngClass]="cardHeaderStyle">
          {{ titulo + " registro" }}
          
        </div>
  
        <div class="card-body">
          <form [formGroup]="miForm" (ngSubmit)="onSubmit()">
  
            <div class="row">
              <div class="col col-6">
                <div class="form-group">
                  <label for="nombre" class="control-label"> Nombre </label>
                  <input type="text" formControlName="nombre" [readonly]="titulo==='Eliminar'" required maxlength="30"
                    [class.is-invalid]="nombre.invalid && nombre.touched" class="form-control" />
                  <small class="text-danger" [class.d-none]="nombre.untouched || !nombre.hasError('required')">El nombre es requerido</small>
                  <small class="text-danger" [class.d-none]="nombre.untouched || !nombre.hasError('minlength')">La longitud mínima es 2</small>
                </div>
              </div>
  
              <div class="col col-6">
                <div class="form-group">
                  <label for="apellido" class="control-label"> Apellido </label>
                  <input type="text" formControlName="apellido" [readonly]="titulo==='Eliminar'" maxlength="30"
                    [class.is-invalid]="apellido.invalid && apellido.touched" class="form-control" />
                  <small class="text-danger" [class.d-none]="apellido.untouched || !apellido.hasError('required')">El apellido es requerido</small>
                  <small class="text-danger" [class.d-none]="apellido.untouched || !apellido.hasError('minlength')">La longitud mínima es 2</small>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-6">
                <button [disabled]="!miForm.valid" [ngClass]="titulo==='Eliminar' ? 'btn-danger' : 'btn-primary'"
                  type="submit" class="btn btn-block">
                  {{ titulo === 'Eliminar' ? 'Eliminar' : 'Aceptar' }}
                </button>
              </div>
              <div class="col-6">
                <button type="button" class="btn btn-secondary btn-block" (click)="goBack()">
                  Cancelar
                </button>
              </div>
            </div>
  
          </form>
        </div>
      </div>
  
    </div>
  </div>